body {
  position: relative;
}
#section1 {
  padding-top:50px;
  height:800px;
  color: #fff;
  background-color: #1E88E5;
}
#section2 {
  padding-top:50px;
  height:800px;
  color: #fff;
  background-color: #673ab7;
}
#section3 {
  padding-top:50px;
  height:800px;
  color: #fff;
  background-color: #ff9800;
}

.moveright{
  position: relative;
}

.zoom {
  transition: transform .2s; /* Animation */
  width: 500px;
  height: auto;
  margin-left: 100px;
  margin-top:100px;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
